{% extends 'mailing/base_page.html' %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
{#                                <h2>Приложение Рассылок</h2>#}
                            </div>
                            <div class="card-body">
                                <p class="card-text">Общее число рассылок: {{ count }}</p>
                                <p class="card-text">Количество активных рассылок: {{ active_mailing }}</p>
                                <p class="card-text">Количество уникальных клиентов для рассылок: {{ clients_count }}</p>
                                <p class="card-text">3 случайные статьи из блога:</p>
                                {% for item in articles %}
                                    <p class="card-text">{{ item }}</p>
                                {% endfor %}
{#                                <p class="card-text">{{ object.contact_mail }}</p>#}
{#                                <p class="card-text">{{ object.full_name }}</p>#}
{#                                <p class="card-text">{{ object.comment|truncatechars:50 }}</p>#}
                            </div>
                            <div class="card-footer">
{#                                <div class="d-flex justify-content-between align-items-center">#}
{#                                    <div class="btn-group">#}
{#                                        <a type="button" class="btn btn-sm btn-outline-primary" href="{% url 'mailing:client' object.id %}">Посмотреть#}
{#                                        </a>#}
{#                                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:update' object.id %}">Изменить</a>#}
{#                                        <a type="button" class="btn btn-sm btn-outline-danger" href="{% url 'mailing:clients_confirm_delete' object.id %}">Удалить</a>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{#                    {% for object in client_list %}#}
{#                        <div class="col-md-4">#}
{#                            <div class="card">#}
{#                                <div class="card-header">#}
{#                                    <h3>Карточка пользователя</h3>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <p class="card-text">{{ object.contact_mail }}</p>#}
{#                                    <p class="card-text">{{ object.full_name }}</p>#}
{#                                    <p class="card-text">{{ object.comment|truncatechars:50 }}</p>#}
{#                                    <p class="card-text"></p>#}
{#                                    <p class="card-text">{{ object.user }}</p>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <div class="btn-group">#}
{#                                            <a type="button" class="btn btn-sm btn-outline-primary"#}
{#                                               href="{% url 'mailing:client' object.id %}">Посмотреть#}
{#                                            </a>#}
{#                                            <a type="button" class="btn btn-sm btn-outline-secondary"#}
{#                                               href="{% url 'mailing:update' object.id %}">Изменить</a>#}
{#                                            <a type="button" class="btn btn-sm btn-outline-danger"#}
{#                                               href="{% url 'mailing:clients_confirm_delete' object.id %}">Удалить</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}