{% extends 'mailing/base_page.html' %}

{% block content %}
    {% if users.user.is_staff %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6 mb-5">
                <a type="button" class="btn btn-sm btn-primary" href="{% url 'mailing:create' %}">Добавить клиента</a>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    {% for object in object_list %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Карточка пользователя</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ object.first_name }} {{ object.last_name }}</p>
                                    <p class="card-text">{{ object.email }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            {% if object.is_active %}
                                                <a type="button" class="btn btn-sm btn-outline-danger"
                                                   href="{% url 'users:deactivate_user' object.id %}">Отключить
                                                    пользователя</a>
                                            {% else %}
                                                <a type="button" class="btn btn-sm btn-outline-success"
                                                   href="{% url 'users:activate_user' object.id %}">Подключить
                                                    пользователя</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1><p class="text-center">Информация доступна группе пользователей с правами менеджера. Для уточнения
                    информации обратитесь к администратору сайта.</p></h1>
            </div>
        </div>
    {% endif %}
{% endblock %}